.choresText {
  color: purple;
  font-size: 1.3vw;
  font-style: italic; /* Adding italic style */
  padding-left: 0; /* Remove default padding */
}

.choresText li {
  padding-left: 20px; /* Adjust the padding for list items */
  list-style-type: disc; /* Add bullet points */
}

.choresHeading {
  color: black;
  text-decoration: underline; /* Adding underline */
}
